body{
    background-color: pink;
    color: black;
 }

 .heading{
    width: 80%;
    font-size: 22px;
 }

 #camera{
    border: 2px dashed black;
    width: 350px;
    height: 400px;
 }

 .head{
   width: 50%;
   font-size: 15px;
 }